[DEFAULT]


[interconnection]

#
# From networking-interconnection.interconnection
#

# The keystone service role that can manage any resources in any projects.
# (string value)
#network_admin_role = cloud_network_admin

# Templated keystone auth_url to get remote keystone API, should contain
# %(region)s section. (string value)
#auth_url_template = https://identity-3.%(region)s.cloud.sap/v3

# The keystone auth_url in the current region. (string value)
#endpoint_type = public

# The current region. (string value)
#region_name = RegionOne

# The username of service user with a keystone role that can manage network
# resources in all regions. (string value)
#username = neutron_interconnection_plugin

# The password of service user with a keystone role that can manage network
# resources in all project. (string value)
#password = <None>

# The service project name of service user with a keystone role that can manage
# network resources in all project. (string value)
#project_name = service

# The user domain name of service user with a keystone role that can manage
# network resources in all projects. (string value)
#user_domain_name = Default

# The project domain name of service user with a keystone role that can manage
# network resources in all projects. (string value)
#project_domain_name = Default

# Number of connect retries to keystone API endpoint. (integer value)
#keystone_connect_retries = 5

# Keystone request timeout in seconds. (floating point value)
#keystone_connect_timeout = 10

# Allow coincidence of interconnctions' regions. (boolean value)
#allow_regions_coincidence = false

# If True Neutron server will try to get keystone token for interconnection
# plugin on start and raise exceptions if it's not working. (boolean value)
#check_credentials_on_start = false
