# Definition of interconnection admin role
#"interconnection": "role:cloud_network_admin"

# Create an interconnection
# POST  /interconnection/interconnections
#"create_interconnection": "rule:admin_only"

# Update a BGP VPN
# PUT  /interconnection/interconnections/{id}
#"update_interconnection": "rule:admin_only"

# Update ``name`` attribute of a interconnection
# PUT  /interconnection/interconnections/{id}
#"update_interconnection:name": "rule:admin_or_owner"

# Update ``state`` attribute of a interconnection
# PUT  /interconnection/interconnections/{id}
#"update_interconnection:state": "rule:admin_only or rule:interconnection"

# Update ``remote_interconnection_id`` attribute of a interconnection
# PUT  /interconnection/interconnections/{id}
#"update_interconnection:remote_interconnection_id": "rule:admin_only or rule:interconnection"

# Delete an interconnection
# DELETE  /interconnection/interconnections/{id}
#"delete_interconnection": "rule:admin_only"

# Get interconnections
# GET  /interconnection/interconnections
# GET  /interconnection/interconnections/{id}
#"get_interconnection": "rule:admin_or_owner"

